<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="JsonViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <applicationSettings>
        <JsonViewer.Properties.Settings>
            <setting name="JsonViewer_Public_Service__Public" serializeAs="String">
                <value>http://172.16.50.91/Utility_Service_12/Public.asmx</value>
            </setting>
        </JsonViewer.Properties.Settings>
    </applicationSettings>
</configuration>
